---
import Title from "../Title.astro";
---

<section class="my-20 mx-5" id="contact">
  <Title title="Contactame" />
  <div class="flex flex-col gap-4 items-center my-28 md:my-52">
    <h2 class="text-2xl font-bold">¡Que sigue!</h2>
    <p class="text-center">
      Si estás interesado en trabajar conmigo o simplemente quieres saludar, no
      dudes en contactarme.
    </p>
    <a
      href="mailto:dieghoatc@gmail.com"
      class="text-secondary text-xl px-4 py-2 border border-secondary rounded-md mt-10 hover:bg-amber-400/30 hover:text-white"
      >Di hola</a
    >
  </div>
</section>
