---
import "./timeline.css";

interface TimelineProps {
  color: string;
  shape: "circle" | "polygon";
}

const { color, shape } = Astro.props as TimelineProps;
---

<div class="timeline flex flex-col justify-center items-center gap-2 pt-2">
  {
    shape === "circle" ? (
      <div class={`circle-timeline ${color}`} />
    ) : (
      <div class={`polygon-timeline ${color}`} />
    )
  }
  <div class={`line-timeline ${color}`}></div>
</div>
