---
import Title from "../Title.astro";
import Bento from "./components/Bento.astro";

const projects = [
  {
    id: 1,
    class: 'md:col-span-2',
    title: "Autobusesdecolombia.com",
    content:
      "Es una pagina web donde descubriras la mayor comunidad de aficionados a los autobuses en Colombia. Noticias, fotos, historia y eventos sobre el apasionante mundo del transporte público.",
    date: "Agosto -2024",
  },
  {
    id: 2,
    title: "AbreYa - APP",
    content:
      "Es una App Mobile, donde se ofrece el servicio de apertura de cerraduras de viviendas y viehículos.",
    date: "Septiembre - 2024",
  },
  {
    id: 3,
    title: "AsistMedica - App",
    content:
      " Aplicación web donde podrás solicitar asistencia médica a domicilio.",
    date: "Septiembre - 2024",
  },
  {
    id: 4,
    class: 'md:col-span-2',
    title: "Factura Eléctronica",
    content:
      " Api, para consultar la pagina de la Dian para las facturas eléctronicas",
    date: "Septiembre - 2024",
  },
];

---

<section class="mx-5 max-w-maxwidth " id="portfolio">
  <Title title="Portafolio" />
  <div class="grid grid-cols-1 gap-2 md:grid-cols-3 auto-rows-[20rem]">
    {
      projects.map((element) => {
        return (
            <Bento
              title={element.title}
              date={element.date}
              content={element.content}
              class={element.class}
            />
        );
      })
    }
  </div>
</section>
