:root {
  --font-primary: "Bangers";
  --font-secondary: "geist-sans";
  --bg-color: #000;
  --text-color-primary: #fff;
  --text-color-secondary: #d1b000;
}

body {
  font-family: var(--font-primary), system-ui;
  padding: 0;
  margin: 0 auto;
  color: var(--text-color-primary);
  background-color: var(--bg-color);
  height: 100vh;
}
