:root {
  --font-primary: "Bangers";
  --font-secondary: "geist-sans";
  --bg-color: #000;
  --text-color-primary: #fff;
  --text-color-secondary: #d1b000;
}

body {
  font-family: var(--font-primary), system-ui;
  padding: 0;
  margin: 0 auto;
  color: var(--text-color-primary);
  background-color: var(--bg-color);
  height: 100vh;
  cursor: url("../assets/pointer.png"), auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: #dfdfdfef;
  text-shadow: 1px 1px 2px rgb(71, 71, 71);
}

p,
a {
  color: #f1f7feb5;
  font-weight: 400;
}
