---
import Services from "./components/services/Services.astro";
import Title from "./components/Title.astro"

---

<main>
    <Services />
    <!-- <Title title="Portafolio" />
    <Title title="Resumen" />
    <Title title="Sobre mi" />
    <Title title="Contacto" /> -->
</main>