---
import AboutMe from "./components/aboutme/AboutMe.astro";
import Portfolio from "./components/portfolio/Portfolio.astro";
import Services from "./components/servicesweb/Servicesweb.astro";
---

<main class="flex flex-col justify-center items-center">
  <Services />
  <Portfolio />
  <AboutMe />
</main>
