.logo-rotate {
  animation: rotating-logo 100s linear infinite;
}

@keyframes rotating-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-control {
  transition-duration: 2s;
}

.button-top-on {
  transform-origin: left center;
  transform: rotate(45deg);
  width: 30px;
}

.button-middle-on {
  width: 1px;
  background-color: black;
  border: black;
}

.button-ground-on {
  transform-origin: left center;
  transform: rotate(-45deg);
  width: 30px;
}

.menu-dropdown {
  transition-duration: 200ms;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    100% 100%,
    74% 85%,
    25% 85%,
    0 100%,
    0% 30%
  );
}

.show-menu {
  height: 270px;
  visibility: visible;
  border-top: 1px solid #202020;
}

.hidden-menu {
  height: 0px;
  visibility: hidden;
}

.item-position {
  position: relative;
  transition-duration: 500ms;
}

.contract-portfolio {
  opacity: 0;
  top: -4px;
}

.deploy-portfolio {
  top: 0px;
  opacity: 1;
}

.contract-resume {
  opacity: 0;
  top: -48px;
}

.deploy-resume {
  opacity: 1;
  top: 0px;
}

.contract-aboutme {
  opacity: 0;
  top: -94px;
}

.deploy-aboutme {
  opacity: 1;
  top: 0px;
}

.contract-blog {
  opacity: 0;
  top: -138px;
}

.deploy-blog {
  opacity: 1;
  top: 0px;
}

.contract-contact {
  opacity: 0;
  top: -182px;
}

.deploy-contact {
  opacity: 1;
  top: 0px;
}
