---
import Logo from "../../assets/logo.png";

import "./menuMobile.css";
import "./navbar.css";
---

<div class="flex w-full flex-col py-2 fixed z-10 backdrop-blur-sm">
  <header class="flex justify-center">
    <div
      class="max-w-maxwidth flex w-full items-center justify-between mx-5 xl:mx-auto"
    >
      <div class="flex items-center gap-2">
        <div class="logo">
          <img
            src={Logo.src}
            alt="Logo Dieghoatc"
            class="w-14 h-14 logo-rotate"
          />
        </div>
        <div>
          <span><a href="/" class="text-secondary text-2xl">Dieghoatc</a></span>
        </div>
      </div>

      <div class="hidden md:block">
        <nav>
          <ul class="flex gap-4">
            <li><a href="#portfolio">Portafolio</a></li>
            <!-- <li><a href="#">Resumen</a></li> -->
            <li><a href="#about-me">Sobre mi</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </nav>
      </div>

      <div class="flex flex-col gap-2 items-center md:hidden" id="toggle-on">
        <div
          class="bg-white w-7 h-0.5 border border-white rounded button-control"
          id="button-top"
        >
        </div>
        <div
          class="bg-white w-7 h-0.5 border border-white rounded button-control"
          id="button-middle"
        >
        </div>
        <div
          class="bg-white w-7 h-0.5 border border-white rounded button-control"
          id="button-bottom"
        >
        </div>
      </div>
    </div>
    <div
      class="text-2xl flex justify-center absolute top-[68px] w-full menu-dropdown hidden-menu bg-black"
      id="show-menu"
    >
      <nav id="list-menu">
        <ul class="flex flex-col gap-3 items-center">
          <li class="item-position contract-portfolio" id="deploy-portfolio">
            <a href="#portfolio">Portafolio</a>
          </li>
          <li class="item-position contract-resume" id="deploy-resume">-</li>
          <li class="item-position contract-aboutme" id="deploy-aboutme">
            <a href="#about-me">Sobre mi</a>
          </li>
          <li class="item-position contract-blog" id="deploy-blog">
            <a href="#">Blog</a>
          </li>
          <li class="item-position contract-contact" id="deploy-contact">
            <a href="#contact">Contacto</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>

<script>
  import { burgerContol } from "./menuMobile";

  const toggleOn = document.getElementById("toggle-on");
  const buttonTop = document.getElementById("button-top");
  const buttonMiddle = document.getElementById("button-middle");
  const buttonGround = document.getElementById("button-bottom");

  const showMenu = document.getElementById("show-menu");

  const portfolio = document.getElementById("deploy-portfolio");
  const resume = document.getElementById("deploy-resume");
  const aboutMe = document.getElementById("deploy-aboutme");
  const blog = document.getElementById("deploy-blog");
  const contact = document.getElementById("deploy-contact");

  const listMenu = document.getElementById("list-menu");

  if (
    toggleOn &&
    buttonTop &&
    buttonMiddle &&
    buttonGround &&
    showMenu &&
    portfolio &&
    resume &&
    aboutMe &&
    blog &&
    contact &&
    listMenu
  ) {
    const buttonSides = {
      toggleOn,
      buttonTop,
      buttonMiddle,
      buttonGround,
      showMenu,
      portfolio,
      resume,
      aboutMe,
      blog,
      contact,
      listMenu,
    };

    burgerContol(buttonSides);
  }
</script>
