---
import Logo from "../../assets/logo.png";

import "./menuMobile.css";
---

<section class="mx-5">
  <header class="relative">
    <div class="w-full mx-auto h-16 flex justify-between items-center">
      <div class="flex gap-3 h-full items-center">
        <div class="logo">
          <img
            src={Logo.src}
            alt="Logo Dieghoatc"
            class="w-14 h-14 logo-rotate"
          />
        </div>
        <div>
          <span class="text-secondary text-2xl">Dieghoatc</span>
        </div>
      </div>

      <div class="hidden md:block">
        <nav>
          <ul class="flex gap-4">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Portafolio</a></li>
            <li><a href="#">Resumen</a></li>
            <li><a href="#">Sobre mi</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>

      <div
        class="flex flex-col gap-2 items-center z-20 md:hidden"
        id="toggle-on"
      >
        <div
          class="bg-white w-7 h-0.5 border border-white rounded button-control"
          id="button-top"
        >
        </div>
        <div
          class="bg-white w-7 h-0.5 border border-white rounded button-control"
          id="button-middle"
        >
        </div>
        <div
          class="bg-white w-7 h-0.5 border border-white rounded button-control"
          id="button-bottom"
        >
        </div>
      </div>

      <div
        class="text-2xl flex justify-center absolute top-[68px] left-0 w-full z-10 menu-dropdown hidden-menu backdrop-blur-md p-4"
        id="show-menu"
      >
        <nav>
          <ul class="flex flex-col gap-3 items-center">
            <li class="item-position contract-portfolio" id="deploy-portfolio">
              Portafolio
            </li>
            <li class="item-position contract-resume" id="deploy-resume">
              Resumen
            </li>
            <li class="item-position contract-aboutme" id="deploy-aboutme">
              Sobre mi
            </li>
            <li class="item-position contract-blog" id="deploy-blog">Blog</li>
            <li class="item-position contract-contact" id="deploy-contact">
              Contacto
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</section>

<script>
  import { burgerContol } from "./menuMobile";

  const toggleOn = document.getElementById("toggle-on");
  const buttonTop = document.getElementById("button-top");
  const buttonMiddle = document.getElementById("button-middle");
  const buttonGround = document.getElementById("button-bottom");

  const showMenu = document.getElementById("show-menu");

  const deployPortfolio = document.getElementById("deploy-portfolio");
  const deployResume = document.getElementById("deploy-resume");
  const deployAboutMe = document.getElementById("deploy-aboutme");
  const deployBlog = document.getElementById("deploy-blog");
  const deployContact = document.getElementById("deploy-contact");

  if (
    toggleOn &&
    buttonTop &&
    buttonMiddle &&
    buttonGround &&
    showMenu &&
    deployPortfolio &&
    deployResume &&
    deployAboutMe &&
    deployBlog &&
    deployContact
  ) {
    const buttonSides = {
      toggleOn,
      buttonTop,
      buttonMiddle,
      buttonGround,
      showMenu,
      deployPortfolio,
      deployResume,
      deployAboutMe,
      deployBlog,
      deployContact,
    };

    burgerContol(buttonSides);
  }
</script>
